@font-face {
  font-family: 'SanFrancisco';
  src: url('../fonts/SFUIDisplay-Regular.ttf');
}

html,
body,
.wrapper,
main {
  margin: 0;
  padding: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  font-family: 'SanFrancisco';
}

.header {
  height: 100vh;
  border-bottom: 1px solid red;

  position: relative;
  /* margin-top: -60px; */
  background-image: url('../img/home.jpg');
  background-position: center center;
  background-size: cover;
}

.pj {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 25px;
  background-color: #fff;
  border-bottom: solid 1px #e4eaec;
}

.pj:hover {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-out;
  z-index: 2;
}

.pj:nth-child(2n + 1) > .photo {
  order: 2;
}

main:nth-child(2n + 1) > .disc {
  order: 1;
}

.photo {
  height: 200px;
  width: 300px;

  margin: 8px 15px;
  margin-bottom: 0;
}

.disc {
  min-height: 200px;
  width: 100%;
  min-width: 300px;
  max-width: 700px;

  font-size: 16px;
  color: #526069;
  text-align: justify;
  font-weight: 400;
  line-height: 1.57142857;

  margin: 8px 15px;
  margin-top: 0;
}

.disc > a {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.2;
  color: #37474f;

  display: block;
  width: fit-content;
  text-align: center;
  text-decoration: none;

  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 22px;
  padding-bottom: 11px;

  border-bottom: 3px solid #589ffc;
}

.disc > a:hover {
  border-bottom-color: #f84aa7;
}

@media (max-width: 800px) {
  .pj {
    flex-direction: column;
  }

  .photo {
    order: 1;
    margin: 0;
  }

  .disc {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .disc > h2 {
    border-bottom: 2px solid #589ffc;
  }
}
