.img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.img_avatar {
  background-image: url('../img/avatar.webp');
  background-size: cover;
}

.img_splineInterpolation {
  background-image: url('../img/SplineInterpolation.webp');
}

.img_FL {
  background-image: url('../img/fuzzy.webp');
}

.img_insertionSort {
  background-image: url('../img/InsertionSort.webp');
}

.img_canvasCircles {
  background-image: url('../img/CanvasCircles3.webp');
}

.img_vueComponent {
  background-image: url('../img/VueComponent.webp');
}

.img_backend {
  background-image: url('../img/mechanical-gears-2.webp');
}
