.img-avatar {
  background-image: url('../img/avatar.webp');
  background-size: cover;
  background-position: center;
}

.img-splineInterpolation {
  background-image: url('../img/SplineInterpolation.webp');
  background-size: contain;
  background-position: center;
}

.img-FL {
  background-image: url('../img/fuzzy.webp');
  background-size: contain;
  background-position: center;
}

.img-insertionSort {
  background-image: url('../img/InsertionSort.webp');
  background-size: contain;
  background-position: center;
}

.img-canvasCircles {
  background-image: url('../img/CanvasCircles3.webp');
  background-size: contain;
  background-position: center;
}

.img-vueComponent {
  background-image: url('../img/VueComponent.webp');
  background-size: contain;
  background-position: center;
}

.img-backend {
  background-image: url('../img/mechanical-gears-2.webp');
  background-size: contain;
  background-position: center;
}
